<%- include('partials/header') %>

<div style="margin-top: 200px; text-align: center;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs9cZWc9Sn-kt0a7BtzAhY-a5blPrn_xcCug&usqp=CAU" alt="" style="width: 200px; height: 200px;">
    <br>
    <br>
    <h1>We're sorry to convey that the transaction has failed.</h1>
    <br>
    <p>Please retry the payment by clicking on the following link.</p>
    <br>
    <a href="/product" class="btn btn-buy" style="background: red; margin: 0 auto; text-align: center; font-size:large;">Retry</a>


</div>

<%- include('partials/footer') %>