<%- include('partials/header') %>

<div class="container center" style="padding-top: 150px;">
    <h1 class="display-1">GST Certification</h1>
    <br>
    <br>
    <img src="/assets/images/gst.jpeg" alt="" class="responsive">
</div>

<style>
    .responsive {
        width: 100%;
        max-width: 800px;
        height: auto;
    }
</style>

<%- include('partials/footer') %>
