<%- include('partials/header') %>

<div class="container center" style="padding-top: 150px;">

    <h1 style="font-family: 'PT Serif', serif;" class="center">Learn the <span style=" color: #ff695f;">Biz</span>Questa Ways!</h1>
    <br>
    <br>
    <main id="main">
        <a href="https://youtube.com/playlist?list=PLsQ1eiX265ULhofISfIHqrNQvAB68YAdK" class="btn btn-buy" style="background: rgb(48, 187, 48); margin: 0 auto; text-align: center; font-size:large;">Sales Training</a>
        <br>
        <br>
        <a href="https://youtube.com/playlist?list=PLsQ1eiX265ULSYJ_BMhFFGGHt42PT0I-2" class="btn btn-buy" style="background: orange; margin: 0 auto; text-align: center; font-size:large;">Instagram Mastery</a>
        <br>
        <br>
        <a href="https://mega.nz/folder/yuBg2TRI#YCWxkWoCp9CTgtd8173Ljw" class="btn btn-buy" style="background: red; margin: 0 auto; text-align: center; font-size:large;">Whatsapp Bulk For PC</a>
        <br>
        <br>
        <a href="https://youtu.be/z_I4-vhX-Ow" class="btn btn-buy" style="background: blue; margin: 0 auto; text-align: center; font-size:large;">Whatsapp Bulk For PC Tutorials</a>
        <br>
        <br>
        <a href="https://drive.google.com/file/d/1dWbBe1_F4p_gJGW-G9MtqBDrHXemUnuF/view?usp=drivesdk" class="btn btn-buy" style="background: rgb(48, 187, 48); margin: 0 auto; text-align: center; font-size:large;">Android Whats Sender</a>
        <br>
        <br>
        <a href="https://youtu.be/NdymnNrQd6g" class="btn btn-buy" style="background: orange; margin: 0 auto; text-align: center; font-size:large;">Android Whats Sender Tutorials</a>
        <br>
        <br>
        <a href="https://drive.google.com/file/d/1ILFfofJJaqhG-j-X_CzXo61FKgQ6xBxf/view?usp=drivesdk" class="btn btn-buy" style="background: red; margin: 0 auto; text-align: center; font-size:large;">Kinemaster Pro Version</a>
        <br>
        <br>
        <a href="https://icedrive.net/1/5dnBKclGZE" class="btn btn-buy" style="background: blue; margin: 0 auto; text-align: center; font-size:large;">Database Link</a>
        <br>
        <br>
        <a href="https://icedrive.net/1/f2v4rR257l" class="btn btn-buy" style="background: rgb(48, 187, 48); margin: 0 auto; text-align: center; font-size:large;">Facebook and Whatsapp Group Links</a>
        <br>
        <br>
        <p style="font-size: large;">password: atozmarketingkit.in</p>
    </main>
</div>

<%- include('partials/footer') %>