<%- include('partials/header') %>

<div class="container" style="padding-top: 150px;">

    <h1 class="display-6 center" style="text-decoration: underline; font-weight: 550;">SUPREME DETAILS</h1>
    <br>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="/assets/images/Supreme.png" alt="" class="default-img img-fluid image-show">
        </div>
        <div class="col-md-6 col-sm-12 product-body">
            <h1 class="display-5 center">Bizquesta Supreme</h1>
            <br>
            <p class="center">Passive Income 10% <br>
                Affiliate Income Rs 650 <br>
                24/7 Support <br> </p>
            <br>
                <h1 class="display-5 center"> <strike style="color: red;">₹4,999</strike>  ₹1000</h1>
            <br>
            <div class="center">
                <br>
                <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HkUe7r9VN0YBAE" async> </script> </form>            </div>
        <br>
        <br>
    </div>
    <br>
    <br>
    <h1 class="display-6 center" style="text-decoration: underline; font-weight: 550;">REVIEWS</h1>
    <br>
    <div class="center" style="border: 1px solid black; border-radius: 25px; padding: 10px; 
    box-shadow: 5px 5px #ff695f;">
        <p>Aksh said: "This was an life changing experience!"</p>
    </div>
    <br>
    <div class="center" style="border: 1px solid black; border-radius: 25px; padding: 10px; 
    box-shadow: 5px 5px #ff695f;">
        <p>Rahul said: "Amazing Community and full of opportunities."</p>
    </div>
    <br>
    <div class="center" style="border: 1px solid black; border-radius: 25px; padding: 10px; 
    box-shadow: 5px 5px #ff695f;">
        <p>Vikas said: "Useful knowledge was provided in the videos."</p>
    </div>
</div>

<%- include('partials/footer') %>