<%- include('partials/header') %>

<div style="margin-top: 200px; text-align: center;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs9cZWc9Sn-kt0a7BtzAhY-a5blPrn_xcCug&usqp=CAU" alt="" style="width: 200px; height: 200px;">
    <br>
    <br>
    <h1>We thank you for the transaction. <br> Your payment has been completed successfully.</h1>
    <br>
    <p>Please proceed to account creation. Do not go back or exit this page.</p>
    <br>
    <a href="/signup" class="btn btn-buy" style="background: #ff695f; margin: 0 auto; text-align: center; font-size:large;">Create account</a>


</div>

<%- include('partials/footer') %>